<!-- 메인 화면 - 상품 목록 -->
<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout/layout_main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <div class="m-2">
        <div class="layout-main-image-content">
            <img class="layout-main-image" src="/img/main-image.jpg" alt="main-image">
        </div>
    </div>

    <div id="productList">
        <div class="contentList">
            <div class="row">
                <div th:each="product: ${products}" class="col-md-4 col-xxl-3 mt-5">
                    <div th:replace="product/product_card :: productCardFragment(${product})"></div>
                </div>
            </div>
        </div>
        <br>

        <div class="productPageMarker">
            <div th:replace="product/product_page_marker :: productPageMarker(${products})"></div>
        </div>
    </div>

    <script th:inline="javascript">
        function search(page) {
            $.ajax({
                type: "POST",
                url: "/products/search",
                data: {
                    page: page,
                    size: 1
                },
            })
                .done(function (result) {
                    $("#productList").replaceWith(result);
                })
        }
    </script>

</div>
</body>
</html>