<!-- 메인 화면 - 상품 목록 -->
<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout/layout_main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <div class="m-2">
        <div class="layout-main-image-content">
            <img class="layout-main-image" src="/img/main-image.jpg" alt="main-image">
        </div>
    </div>

    <div id="product-list" class="content-list">
        <div class="row">
            <div th:each="product: ${products}" class="col-md-4 col-xxl-3 mt-5">
                <div th:replace="product/product_card :: productCardFragment(${product})"></div>
            </div>
        </div>
    </div>

    <br>
    <div th:text="${products.last}"></div>

    <div class="d-flex justify-content-center box-footer clearfix">
        <ul th:style="${products.number >= products.totalPages ? 'display:none' : ''}"
            class="pagination pagination-sm no-margin pull-right"
            th:with="start=${(products.number / 10) * 10 + 1}, last=(${products.number / 10 * 10 + 10 < products.totalPages ? (products.number / 10) * 10 + 10 : products.totalPages})">
            <li th:style="${products.first ? 'display:none' : ''}">
                <button class="btn btn-outline-black"
                        th:page="${0}"
                        th:onclick="search(this.getAttribute('page'))" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </button>
                &nbsp;
            </li>
            <li th:style="${products.number < 10 ? 'display:none' : ''}">
                <button class="btn btn-outline-black"
                        th:page="${products.number / 10} * 10 - 1"
                        th:onclick="search(this.getAttribute('page'))" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </button>
                &nbsp;
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}">
                <button class="btn btn-outline-black"
                        th:text="${page}"
                        th:page="${page - 1}"
                        th:onclick="search(this.getAttribute('page'))" aria-label="Pagination"
                        th:classappend="${page == products.number + 1} ? 'active'">
                </button>
                &nbsp;
            </li>
            <li th:style="${last == products.totalPages ? 'display:none' : ''}">
                <button class="btn btn-outline-black"
                        th:page="${last}"
                        th:onclick="search(this.getAttribute('page'))" aria-label="Next Page">
                    <span aria-hidden="true">&gt;</span>
                </button>
                &nbsp;
            </li>
            <li th:style="products.last ? '' : 'display:none'">
                <button class="btn btn-outline-black"
                        th:page="${products.totalElements - 1}"
                        th:onclick="search(this.getAttribute('page'))" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
        </ul>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let products = /*[[ ${products} ]]*/;
        /*]]*/

        function search(page) {
            alert(page);
        }
    </script>

</div>
</body>
</html>