<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout/layout_main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

<div layout:fragment="content">

    <h3 class="m-2">장바구니</h3>

    <div class="d-flex flex-row-reverse mb-2">
        <button class="btn btn-outline-dark" onclick="delCheckCartProduct()">선택 삭제</button>
    </div>

    <div id="cartProductTable">
        <!-- 상품 목록 -->
        <div th:replace="~{cart/ssg_cart_product_table :: ssgCartProductTable(${cart.ssgProducts()})}"></div>
        <br>
        <div th:replace="~{cart/dawn_cart_product_table :: dawnCartProductTable(${cart.dawnProducts()})}"></div>
        <br>
        <div th:replace="~{cart/normal_cart_product_table :: normalCartProductTable(${cart.normalProducts()})}"></div>
        <br>

        <div class="d-flex flex-row-reverse font-weight-bold" th:text="|결정예정금액 : ${cart.totalPrice()}원|"></div>

        <script th:inline="javascript">
            var checkboxes = document.querySelectorAll("input[type=checkbox][name=cartProduct]");
            var checkedBoxes = document.querySelectorAll("input[type=checkbox][name=cartProduct]:checked");

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    $.ajax({
                        type: "POST",
                        url: "/carts/check/" + this.value,
                        data: {},
                        dataType: "text",
                    })
                        .done(function (result) {
                            $("#cartProductTable").replaceWith(result);
                        });
                });
            });

            function delCheckCartProduct() {
                if (checkedBoxes.length === 0) {
                    alert("선택된 상품이 없습니다.");
                    return;
                }

                let checkedList = [];
                checkedBoxes.forEach(function (checkbox) {
                    checkedList.push(checkbox.value);
                });

                $.ajax({
                    url: "/carts/cartProducts/out",
                    type: "POST",
                    data: {
                        checkedList: checkedList
                    }
                })
                    .done(function () {
                        alert("장바구니 상품이 삭제되었습니다");
                        location.href = "/carts"
                    });
            }

            // count input handler
            function productCountChange(cartProductId, currentCartProductCount, productQuantity, input) {
                let inputCount = parseInt(input.value);
                if (isNaN(inputCount)) { // 숫자가 아닌 값이 들어왔을 경우 원래 개수로 치환
                    input.value = currentCartProductCount;
                    return;
                }

                if (inputCount <= 0 || inputCount > 20) { // 0 이하, 20 초과하는 수가 들어올 경우 기본 규칙 위배
                    input.value = currentCartProductCount;
                    return;
                }

                if (inputCount > parseInt(productQuantity)) { // 현재 재고 이상으로 장바구니에 담을 수 없게 설계
                    input.value = currentCartProductCount;
                    alert("최대 주문 수량은 " + productQuantity + " 입니다.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/carts/cartProducts/" + cartProductId,
                    data: {
                        cartProductCount: inputCount
                    },
                    success: (result) => {
                        $("#cartProductTable").replaceWith(result);
                    },
                    error: (jqXHR) => {
                        alert(jqXHR);
                    }
                })
            }

            // + button handler
            function incrementValue(e) {
                e.preventDefault();
                var inputId = $(e.target).data('product-id'); // 플러스 버튼을 클릭한 Input 의 ID 값을 찾는다.
                var $input = $("#" + inputId); // 찾은 ID 값을 통해 jQuery 생성

                var currentVal = parseInt($input.val(), 10);
                var productQuantity = $input.attr('productQuantity');
                var cartProductId = $input.attr('cartProductId');

                if (isNaN(currentVal)) { // 숫자가 아니야?
                    $input.val(1); // 1로 설정하고
                    return; // early return
                }

                if (currentVal >= productQuantity) { // 최대 주문 수량 Validation
                    alert("최대 주문 수량은 " + productQuantity + " 입니다.");
                    return;
                }

                // 그럼 여기에는 숫자이면서, 최대 수량이 아닌 값이 왔기 때문에 query 를 날려도 된다.
                $.ajax({
                    type: "POST",
                    url: "/carts/cartProducts/" + cartProductId + "/increment",
                    data: {},
                    success: (result) => {
                        $("#cartProductTable").replaceWith(result);
                    },
                    error: (jqXHR) => {
                        alert(jqXHR);
                    }
                });
            }

            // - button handler
            function decrementValue(e) {
                e.preventDefault();
                var inputId = $(e.target).data('product-id'); // 플러스 버튼을 클릭한 Input 의 ID 값을 찾는다.
                var $input = $("#" + inputId); // 찾은 ID 값을 통해 jQuery 생성

                var currentVal = parseInt($input.val(), 10);
                var cartProductId = $input.attr('cartProductId');

                if (isNaN(currentVal) || currentVal <= 1) { // 숫자가 아니거나 1 보다 작은수로 시도할 경우
                    $input.val(1);
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/carts/cartProducts/" + cartProductId + "/decrement",
                    data: {},
                    success: (result) => {
                        $("#cartProductTable").replaceWith(result);
                    },
                    error: (response) => {
                        alert(response.responseJSON.message);
                    }
                })
            }

            var $input = $(".input-group");
            $input.on('click', '.button-plus', function (e) {
                incrementValue(e);
            });

            $input.on('click', '.button-minus', function (e) {
                decrementValue(e);
            });
        </script>
    </div>
</div>

</body>
</html>