<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout/layout_main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

<div layout:fragment="content">

    <h3 class="m-2">장바구니</h3>

    <div id="cartProductTable">
        <!-- 상품 목록 -->
        <table th:if="!${cart.ssgProducts().isEmpty()}"
               class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">쓱배송</th>
                <th class="col-md-6">상품명</th>
                <th class="col-md-1">판매가</th>
                <th class="col-md-1">구매수량</th>
                <th class="col-md-1">구매금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${cart.ssgProducts()}">
                <td>
                    <label>
                        <input type="checkbox" name="cartProduct"
                               th:value="${item.cartProductId}"
                               th:checked="${item.checked}"
                        >
                    </label>
                </td>
                <td th:if="${item.isSoldOut()}" th:text="|${item.productDto.name} (품절)|"></td>
                <td th:if="!${item.isSoldOut()}" th:text="${item.productDto.name}"></td>
                <td th:text="${item.cartPrice}"></td>
                <td th:text="${item.count}"></td>
                <td th:text="${item.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
        <br>

        <table th:if="!${cart.dawnProducts().isEmpty()}"
               class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">새벽 배송</th>
                <th class="col-md-6">상품명</th>
                <th class="col-md-1">판매가</th>
                <th class="col-md-1">구매수량</th>
                <th class="col-md-1">구매금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${cart.dawnProducts()}">
                <td>
                    <label>
                        <input type="checkbox" name="cartProduct"
                               th:value="${item.cartProductId}"
                               th:checked="${item.checked}">
                    </label>
                </td>
                <td th:if="${item.isSoldOut()}" th:text="|${item.productDto.name} (품절)|"></td>
                <td th:if="!${item.isSoldOut()}" th:text="${item.productDto.name}"></td>
                <td th:text="${item.cartPrice}"></td>
                <td th:text="${item.count}"></td>
                <td th:text="${item.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
        <br>

        <table th:if="!${cart.normalProducts().isEmpty()}"
               class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">일반 배송</th>
                <th class="col-md-6">상품명</th>
                <th class="col-md-1">판매가</th>
                <th class="col-md-1">구매수량</th>
                <th class="col-md-1">구매금액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${cart.normalProducts()}">
                <td>
                    <label>
                        <input type="checkbox" name="cartProduct"
                               th:value="${item.cartProductId}"
                               th:checked="${item.checked}"
                        >
                    </label>
                </td>
                <td th:if="${item.isSoldOut()}" th:text="|${item.productDto.name} (품절)|"></td>
                <td th:if="!${item.isSoldOut()}" th:text="${item.productDto.name}"></td>
                <td th:text="${item.cartPrice}"></td>
                <td th:text="${item.count}"></td>
                <td th:text="${item.totalPrice}"></td>
            </tr>
            </tbody>
        </table>

        <div th:text="${cart.totalPrice()}"></div>

        <script th:inline="javascript">
            var checkboxes = document.querySelectorAll("input[type=checkbox][name=cartProduct]");

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    $.ajax({
                        type: "POST",
                        url: "/carts/check/" + this.value,
                        data: {},
                        dataType: "text",
                    })
                        .done(function (result) {
                            $("#cartProductTable").replaceWith(result);
                        });
                });
            });
        </script>
    </div>
</div>

</body>
</html>