<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout/layout_main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

<div layout:fragment="content">

    <h3 class="m-2">장바구니</h3>

    <!-- 상품 목록하고 -->
    <div th:object="${cart}">
        <div th:text="${cart.getCartProducts}">
        </div>
    </div>

    <!-- 그 다음 전체 결과로 가자 -->

</div>

</body>
</html>